<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Network</title>
    <link rel="stylesheet" href="~/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-show-password-toggle/show-password-toggle.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NetworkInfrastructure.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Network" asp-action="Index"><i class="bi bi-ethernet"></i> Network</a>
                @*<div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                        Bootstrap
                    </a>
                </div>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Network" asp-action="Index">Home</a>
                        </li>
                    </ul>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <form class="d-flex" method="get" asp-action="Index" asp-controller="Network">
                            @Html.AntiForgeryToken()
                            <input class="form-control me-2"
                                   type="search"
                                   name="search"
                                   id="search"
                                   value="@ViewData["searchParam"]"
                                   placeholder="Search"
                                   aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    }
                </div>

                <div class="d-flex align-items-center">
                    <a class="text-reset me-3" href="#">
                    </a>
                    <div class="form-check form-switch mb-2">
                        <input type="checkbox" name="btnSwitch" id="btnSwitch" class="form-check-input" />
                        <span id="spnSwitch" class="bi bi-moon-fill"></span>
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Network Infrastructure - <a asp-area="" asp-controller="Network" asp-action="Index">Home</a>
        </div>
    </footer>
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-show-password-toggle/show-password-toggle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
